<html>
    <head>
        <link rel=icon href="./images/a.jpg" />
         </head>

         <body ng-app="app">
             <div ng-controller="mainController">
                 <ul style="list-style-type:none">
                 <li ng-repeat="x in event" style="padding:25px">
                     <div><img ng-src={{x.imageUrl}} alt={{x.name}} /></div>
                     <h1 ng-bind=x.name></h1>
                     <address>
                         {{x.location.street}},{{x.location.city}}<br/>
                         {{x.location.pincode}}
                     </address>
                     <button ng-click="upvote(x)">upvote</button>{{x.upvote}}<br/>
                     <button ng-click="downvote(x)">downvote</button>{{x.downvote}}<br/>
                     </li>
                 </ul>
                 </div>

                 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" ></script>
                 <script src='js/main.js' ></script>
                
             </body>
             

</html>